@import"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
.header {
    background: #ffffff0d;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    place-content: space-between;
    height: 85px
}

.logo {
    width: 8rem;
    margin-top: 10px
}

.logo:hover {
    cursor: pointer
}

.parentNavbar {
    display: flex;
    align-items: center;
    place-content: space-between
}

.navbar {
    color: #fff;
    display: inline
}

.navbar>ul {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0
}

.navbar>ul>a>li {
    display: inline;
    margin: 0 15.5px;
    font-size: 17px
}

.telegram-logo {
    width: 2.5rem;
    margin-top: 10px
}

.telegram-logo:hover {
    cursor: pointer
}

.header-logo-menu {
    display: inline-flex
}

@media only screen and (min-width: 768px) {
    .mobile-header-bars {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .Mobile-navbar {
        color: #fff
    }
    .Mobile-navbar>ul {
        list-style-type: none;
        margin: 10%
    }
    .Mobile-navbar>ul>a>li {
        margin-bottom: 10px;
        color: #01012c;
        font-weight: 500
    }
    .Mobile-navbar {
        background: #f5f5f5;
        position: absolute;
        top: 80px;
        left: 0;
        height: 100vh;
        width: 60%;
        transition: opacity .2s ease-in-out
    }
    .Mobile-navbar:hover {
        cursor: pointer
    }
}

.hero {
    box-sizing: border-box;
    width: 98vw;
    height: 700px;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%
}

.hero-span {
    background-color: #222cb5;
}

.hero-heading {
    font-family: heading;
    font-size: 60px;
    text-align: -webkit-center;
    margin-bottom: 35px;
    overflow-y: hidden
}

.heroSubText {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    line-height: normal;
    margin-bottom: 20px
}

.hero-btn {
    margin: 10px 0
}

.bgElement1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 35%
}
.bgElement2{
    position: absolute;
    top: 0;
    right: 1;
    z-index: -1;
    width: 35%
}

.HeroBg {
    position: absolute;
    width: 700px;
    z-index: -1
}

.HeroSwirl {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    z-index: -1
}

@media only screen and (max-width: 768px) {
    .hero {
        padding: 0% 10%;
        height: 550px
    }
    .hero-span {
        background-color: #222cb5
    }
    .hero-heading {
        font-size: 36px;
        text-align: -webkit-center;
        line-height: 36px;
        margin-bottom: 35px;
        padding: 0% 10%
    }
    .heroSubText {
        font-size: 17px;
        font-weight: 300;
        text-align: center;
        padding: 10px 0;
        line-height: normal;
        margin-bottom: 20px
    }
    .hero-btn {
        margin: 10px 0
    }
    .bgElement1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: -webkit-fill-available
    }
    .bgElement2{
        position: absolute;
        top: 0;
        right: -21;
        z-index: -1;
        width: 35%
    }
    .HeroBg {
        position: absolute;
        width: 100%
    }
    .HeroSwirl {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 10%;
        z-index: -1
    }
}

.feature-card {
    color: #fff;
    border: 1px solid #272fb0;
    padding: 22px;
    border-radius: 30px;
    box-shadow: 0 4px 4px #00022f;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    margin: 10px;
    width: 50%
}

.feature-card>img {
    width: 40px
}

.feature-card>h2 {
    font-size: 17px;
    font-weight: 600;
    margin: 8px 0
}

.feature-card>p {
    font-size: 15px;
    color: #bfbfbf
}

.features {
    display: flex
}

.features-icon>img {
    width: 230px
}

.f2 {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.featuresBg1 {
    position: absolute;
    right: 100px;
    z-index: -1;
    margin-top: 250px;
    width: 30%
}

.featuresBg2 {
    position: absolute;
    left: 100px;
    z-index: -1;
    margin-top: 250px;
    width: 30%
}

.cube-lottie {
    position: absolute;
    right: -7%;
    width: 250px;
    top: 25%;
    animation: rotation 10s linear infinite;
    animation-direction: reverse
}

.rainbow-lottie {
    position: absolute;
    left: -156px;
    margin-top: 700px;
    z-index: -1;
    width: auto;
    height: 50%
}

.rainbow-lottiepng {
    position: absolute;
    left: 0;
    margin-top: 700px;
    z-index: -1;
    width: auto;
    height: 50%
}

.features-icon {
    align-content: center;
    width: 50%
}

.features-icon>img {
    width: 280px
}

@media only screen and (min-width: 768px) {
    .features-icon-mobile {
        display: none
    }
}

.downloads {
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
    border: 1px solid #272fb0;
    border-radius: 20px;
    background: #15121d66;
    box-shadow: 0 4px 4px #0b1969;
    box-shadow: 0 0 20px 4px #0b1969;
    -webkit-backdrop-filter: blur(12.25px);
    backdrop-filter: blur(12.25px)
}

.download>img {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    padding-right: 10px
}

.downloads>a {
    display: inherit;
    align-items: center;
    color: #fff
}

.download {
    display: inherit;
    align-items: center
}

.download:hover {
    box-shadow: 0 0 20px 4px #0b1969;
    -webkit-backdrop-filter: blur(12.25px);
    backdrop-filter: blur(12.25px);
    cursor: pointer
}

.mobile>img {
    width: 15px
}

.downborder {
    border-right: 1px solid white;
    height: 40px
}

.downloadbg {
    position: absolute;
    right: -15%;
    width: 550px;
    height: 550px;
    margin-top: -140px;
    background: radial-gradient(50% 50% at 50% 50%, #272fb05e, #0b071400);
    opacity: .7;
    z-index: -1
}

.download-rainbow {
    position: absolute;
    width: 10%;
    margin-top: -10.5%;
    text-align: center;
    left: 45%;
    z-index: -1
}

img.mobile-logo {
    width: 20px
}

.dropdown {
    position: relative
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #272fb0;
    box-shadow: 0 10px 10px #0006;
    color: #0b0714;
    background-color: #15121d;
    text-align: center;
    right: 0;
    top: 100%
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown-content a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none
}

.dropdown-content a:hover {
    color: #fff;
    background-color: #0b0714
}

.dropdown-content-coming-soon {
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 50px;
    padding: 10px 40px;
    border: 2px solid #272fb0;
    box-shadow: 0 10px 10px #0006;
    color: 0b0714;
    background-color: #15121d;
    text-align: center;
    margin-top: -120px;
    right: -40px
}

.download:hover {
    border: 1px solid #272fb0;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 0 0 20px 4px #0b1969;
    -webkit-backdrop-filter: blur(12.25px);
    backdrop-filter: blur(12.25px);
    margin: 10px 0
}

.dropdown:hover .dropdown-content-coming-soon {
    display: block
}

.dropdown-content-coming-soon a:hover {
    color: #fff;
    background-color: #0b0714;
    z-index: 10
}

@media only screen and (max-width: 768px) {
    .dropdown-content {
        right: 0;
        top: 0
    }
    .dropdown-content-coming-soon {
        display: none;
        position: absolute;
        width: 100%;
        border-radius: 50px;
        padding: 10px 40px;
        border: 2px solid #272fb0;
        box-shadow: 0 10px 10px #0006;
        background-color: #15121d;
        text-align: center;
        margin-top: -120px;
        left: 0
    }
}

.usecases {
    display: flex;
    justify-content: space-between
}

.usecase {
    color: #fff;
    border: 1px solid #272fb0;
    padding: 22px;
    background: #15121d;
    box-shadow: 0 4px 4px #00022f;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    margin: 15px;
    width: 100%;
    background: linear-gradient(#15121d, #15121d) padding-box, linear-gradient(0deg, #4c216000, #081d73) border-box;
    border: 1px solid transparent
}

.uc1 {
    border-radius: 20px 20px 0
}

.uc2 {
    border-radius: 20px 20px 20px 0
}

.uc3 {
    border-radius: 20px 0 20px 20px
}

.uc4 {
    border-radius: 0 20px 20px
}

.usecase-heading {
    font-family: subs;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 8px
}

.usecase>p {
    font-size: 16px;
    font-weight: 300;
    color: #bfbfbf;
    line-height: 1.9
}

.ucbg {
    position: absolute;
    left: 50%;
    width: 550px;
    height: 550px;
    margin-top: 200px;
    background: radial-gradient(50% 50% at 50% 50%, #272fb05e, #0b071400);
    opacity: .7;
    transform: translate(-50%)
}

.ucring {
    position: absolute;
    right: 0;
    width: 10%;
    z-index: -2
}

.uc-cube {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 10%;
    margin-top: 200px;
    animation: rotation 10s linear infinite;
    animation-direction: reverse
}

.ucbht {
    padding: 0 10%;
    margin: 15px 0
}

.tokenomics-steps {
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    background-image: url(/assets/tokenomics-B7eoE5UJ.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

.bb {
    margin-bottom: 50px
}

.tokenomics-steps>img {
    visibility: hidden;
    width: 100%
}

.tokenomics-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px
}

.tokenomics-step>.tokenomics-numbering {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 30px;
    background: linear-gradient(#0b0714, #0b0714) padding-box, linear-gradient(0deg, #4c216000, #272fb0) border-box;
    border: 1px solid transparent
}

.tokenomics-numbering>img {
    width: auto;
    height: 20px
}

.tk-content-heading {
    font-size: 15px;
    font-weight: 500
}

.tk-content-text {
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 300
}

.tokenomicsbg {
    position: absolute;
    right: -20%;
    width: 700px;
    height: 700px;
    background: radial-gradient(50% 50% at 50% 50%, #272fb04d, #0b071400);
    opacity: .7;
    transform: translate(-50%);
    z-index: -2
}

.circleWeb {
    position: absolute;
    left: 40px;
    width: 150px;
    z-index: -1;
    animation: rotation 10s linear infinite
}

.token-coin {
    position: absolute;
    right: 0%;
    width: 10%;
    z-index: -1;
    margin-top: 200px
}

.tokenomics-content {
    position: relative;
    width: fit-content;
    padding-left: 18px
}

.tokenomics-logo {
    width: 260px;
    height: 260px;
    background-color: #0f0b18;
    border: 1px solid #272fb0;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 30px;
    background: linear-gradient(#0b0714, #0b0714) padding-box, linear-gradient(0deg, #4c216000, #272fb0) border-box;
    border: 1px solid transparent
}

img.tokenomics-logo-img {
    margin-top: 15px;
    width: 80%
}

.lines-container {
    z-index: -1
}

.tokenomics-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
}

.tokenomics-step {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: #0f0b17;
    border: 1px solid;
    background: linear-gradient(#0f0b17, #0f0b17) padding-box, linear-gradient(0deg, #4c216000, #272fb0) border-box;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 25px;
    margin: 10px 0;
    width: 250px;
    height: 80px
}

.tokenomics-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 70%
}

img.lines {
    width: 90%
}

.lines-container {
    z-index: -1;
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center
}

.copy-btn {
    background-color: transparent;
    border: 0px;
    margin-left: 15px
}

.copy-btn:hover {
    cursor: pointer
}

.copy-btn-icon {
    width: 20px
}

.step {
    color: #fff;
    border: 1px solid #272fb0;
    padding: 22px;
    border-radius: 15px;
    background: #15121d66;
    box-shadow: 0 4px 4px #00022f;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    margin: 15px 8vw;
    background: linear-gradient(#0b0714, #0b0714) padding-box, linear-gradient(0deg, #4c216000, #272fb0) border-box;
    border: 1px solid transparent
}

.step>li {
    font-size: 20px;
    font-weight: 200;
    margin: 0 30px
}

.howToBuyBtn {
    text-align: center
}

.step-heading {
    font-family: subs;
    font-style: italic;
    font-size: 18px;
    font-weight: 500
}

.htbGradient {
    position: absolute;
    right: 0;
    z-index: -2;
    height: 700px
}

.htb-snailshellpng {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 160px
}

.htb-sphere {
    position: absolute;
    z-index: -1;
    right: -6.5%;
    width: 180px;
    margin-top: 250px;
    animation: rotation 10s linear infinite;
    animation-direction: reverse
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.roadmap {
    display: flex;
    color: #fff;
    height: 700px;
    place-items: center;
    justify-content: space-between
}

.left {
    width: 45%
}

.left>h2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
    overflow: hidden
}

.right {
    width: 45%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 95%;
    overflow-y: auto
}

.right::-webkit-scrollbar {
    display: none
}

.border {
    height: 90%;
    width: 4px;
    background: linear-gradient(180deg, #160a222c, #272fb0 46.94%, #0b07141c)
}

.phaseBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #15121d4d;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 1px solid #272fb0;
    padding: 20px;
    height: fit-content;
    margin: 20px 0
}

.phaseBox>h4 {
    font-weight: 300;
    font-size: 22px;
    line-height: 34px
}

.phaseBox>ul>li {
    color: #272fb0;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px
}

.phaseBox>ul {
    list-style-position: inside
}

li>span {
    color: #fff
}

.roadmapGradient {
    position: absolute;
    right: 0;
    z-index: -1
}

.rm-silver {
    position: absolute;
    z-index: -1;
    left: -8%;
    width: 200px;
    margin-top: 240px;
    animation: updown 4s linear infinite
}

@keyframes updown {
    0% {
        transform: translateY(-25px)
    }
    50% {
        transform: translateY(25px)
    }
    to {
        transform: translateY(-25px)
    }
}

.rm-flow {
    position: absolute;
    z-index: -1;
    right: -10%;
    width: 250px;
    margin-top: 250px;
    animation: sidetoside 4s linear infinite
}

@keyframes sidetoside {
    0% {
        transform: translate(-20px)
    }
    50% {
        transform: translate(20px)
    }
    to {
        transform: translate(-20px)
    }
}

.footer-container {
    background-image: url("data:image/svg+xml,%3csvg%20width='1732'%20height='813'%20viewBox='0%200%201732%20813'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M0%20126.85H1732M0%20196.85H1732M0%20266.85H1732M0%20336.85H1732M0%20406.85H1732M0%20476.85H1732M0%20546.85H1732M0%20616.85H1732M70.15%200L70.15%20813M140.15%200L140.15%20813M210.15%200L210.15%20813M280.15%200L280.15%20813M350.15%200L350.15%20813M420.15%200L420.15%20813M490.15%200L490.15%20813M560.15%200V813M630.15%200V813M700.15%200V813M770.15%200V813M840.15%200V813M910.15%200V813M980.15%200V813M1050.15%200V813M1120.15%200V813M1190.15%200V813M1260.15%200V813M1330.15%200V813M1400.15%200V813M1470.15%200V813M1540.15%200V813M1610.15%200V813'%20stroke='url(%23paint0_radial_6202_6538)'%20stroke-width='0.4'/%3e%3cdefs%3e%3cradialGradient%20id='paint0_radial_6202_6538'%20cx='0'%20cy='0'%20r='1'%20gradientUnits='userSpaceOnUse'%20gradientTransform='translate(866%20322.5)%20rotate(90)%20scale(490.5%201044.95)'%3e%3cstop%20stop-color='%23272fb0'/%3e%3cstop%20offset='1'%20stop-color='%23272fb0'%20stop-opacity='0'/%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0 40px
}

.footer {
    display: flex;
    align-items: center;
    height: 230px;
    justify-content: space-between
}

.footer-links {
    list-style-position: inside;
    color: #fff;
    text-decoration: none;
    align-self: self-start;
    padding-top: 30px
}

a>li {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 2
}

.footer-menu-heading {
    font-size: 16px;
    font-weight: 500
}

.copyright-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #ffffffab;
    justify-content: center
}

.newsletter {
    display: flex;
    place-items: center;
    justify-content: space-between;
    width: 100%
}

.newsletter>.text>h4 {
    font-size: 16px;
    font-weight: 500
}

.newsletter>.text>p {
    font-size: 14px
}

.newsletter>.form-div {
    width: 50%
}

.newsletter>.text {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    line-height: 30px;
    margin-bottom: 15px
}

.newsletter>.form-div>form {
    display: inline;
    width: -webkit-fill-available
}

.newsletter>.form-div>form>input#email {
    background: transparent;
    border: 1px solid white;
    padding: 14px 30px;
    width: 65%;
    border-radius: 50px;
    color: #fff;
    margin: 5px
}

.newsletter>.form-div>form>input[type=submit] {
    border-radius: 50px;
    border: 0px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    width: 24%;
    padding: 12px 0;
    background: linear-gradient(90deg, #2537a9, #272fb0, #6ed2ff);
    box-shadow: 0 2.33333px 21.1111px #664dff40
}

.newsletter>.form-div>form>input[type=submit]:hover {
    cursor: pointer
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth
}

.bgWrapperTokenomics {
    position: absolute;
    overflow: hidden;
    height: 1000px;
    width: 1000px;
    right: 0
}

.lottie {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1
}

body {
    background-color: #0b0714
}

.btn-primary {
    background: #000128;
    background: linear-gradient(90deg, #2537a9, #272fb0, #6ed2ff);
    box-shadow: 0 6.33333px 6.1111px #664dff40;
    border: 0px;
    padding: 13px 80px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600
}

.btn-primary:hover {
    cursor: pointer
}
@font-face {
    font-family: heading;
    src: url(/assets/head.otf);
}
@font-face {
    font-family: subs;
    src: url(/assets/head.otf);
}
.section-heading {
    font-family: heading;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px
}

.textBelowSectionHeading {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    line-height: normal;
    color: #fff
}

.wrapper {
    position: relative;
    padding: 60px 10vw
}

.wrapper-features {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center
}

a {
    text-decoration-line: none
}

.hidden {
    display: none !important
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden
    }
    .wrapper {
        padding: 30px 6vw
    }
    .usecases {
        display: flex;
        justify-content: center;
        width: -webkit-fill-available;
        flex-direction: column;
        align-items: center
    }
    .usecase {
        border-radius: 20px;
        margin: 10px 0;
        width: -webkit-fill-available
    }
    .tokenomics-row {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center
    }
    .features-icon>img {
        display: none
    }
    .f2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap
    }
    .features {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .feature-card {
        margin: 10px 0;
        width: auto
    }
    .footer-container {
        padding: 0 20px
    }
    .newsletter>.form-div {
        width: -webkit-fill-available
    }
    .newsletter>.form-div>form>input#email {
        background: transparent;
        border: 1px solid white;
        padding: 14px 30px;
        width: 60%;
        border-radius: 50px;
        color: #fff
    }
    .footer-logo {
        position: relative;
        order: 2
    }
    img.footerLogo {
        width: 100%;
        padding-right: 20%
    }
    .footer {
        display: flex;
        height: fit-content;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 20px
    }
    .footer>div {
        width: 50%
    }
    .footer-logo {
        align-self: center;
        order: 4;
        margin-top: 20px
    }
    .footer-social-links {
        order: 0
    }
    .footer-product {
        order: 1
    }
    .footer-business {
        order: 2
    }
    .footer-menu-heading {
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px
    }
    .copyright-text {
        margin-top: 15px
    }
    .newsletter {
        flex-direction: column
    }
    .downborder {
        border-bottom: 1px solid white;
        width: 80%;
        height: 0
    }
    .download {
        height: 65px
    }
    .downloads {
        flex-direction: column;
        height: fit-content;
        margin: 0
    }
    .step {
        margin: 15px 0
    }
    .step-heading {
        font-family: subs;
        font-style: italic;

        font-weight: 500;
        font-size: 14px
    }
    .step>li {
        font-size: 14px;
        font-weight: 200;
        margin: 0 10px
    }
    .section-heading {
        font-size: 24px;
        margin-bottom: 15px
    }
    .textBelowSectionHeading {
        font-size: 14px
    }
    .roadmap {
        flex-direction: column;
        margin: 0;
        height: 500px
    }
    .roadmap>.left {
        width: 100%;
        text-align: center;
        height: 70px
    }
    .roadmap>.border {
        margin: 20px 0;
        height: 4px;
        width: 100%;
        background: linear-gradient(270deg, #160a222c, #272fb0 46.94%, #0b07141c)
    }
    .roadmap>.right {
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        height: 95%;
        overflow-y: auto
    }
    .tokenomics-step>.tokenomics-numbering {
        width: 60px;
        height: 60px;
        background-color: #0f0b18;
        border: 1px solid #272fb0;
        border-radius: 100%;
        text-align: center;
        align-content: center;
        padding-top: 0
    }
    .tk-content-heading {
        font-size: 14px;
        font-weight: 500
    }
    .tk-content-text {
        color: #bfbfbf;
        font-size: 14px;
        font-weight: 300
    }
    .tokenomics-steps {
        color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap
    }
    .heroSubText {
        font-size: 14px
    }
    .hero-heading {
        margin-top: 20px;
        font-size: 25px;
        text-align: -webkit-center;
        line-height: 44px;
        margin-bottom: 35px;
        padding: 0
    }
    .navbar {
        color: #fff;
        display: none
    }
    .logo {
        width: 7rem;
        margin-top: 4px
    }
    .header {
        padding: 10px 6vw
    }
    .mobile-header-bars {
        margin-bottom: 4px;
        margin-right: 25px
    }
    .features-icon-mobile>img {
        width: 65%
    }
    .features-icon-mobile {
        text-align: center;
        width: 60%
    }
    .features-icon {
        display: none
    }
    .roadmap>.left>h2 {
        font-weight: 300;
        font-size: 16px;
        line-height: normal
    }
    .newsletter>.form-div {
        width: -webkit-fill-available;
        text-align: center
    }
    .newsletter>.form-div>form>input[type=submit] {
        width: 28%
    }
    .footer-logo>img {
        width: 100%;
        padding-right: 40%
    }
    .copyright-text {
        margin-top: 15px;
        text-align: center;
        font-size: 10px
    }
    .header {
        display: flex;
        align-items: center;
        place-content: space-between;
        height: 85px;
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between
    }
    .download:hover {
        border: 1px solid #272fb0;
        cursor: pointer;
        padding: 10px 60px;
        border-radius: 50pc;
        box-shadow: 0 0 20px 4px #0b1969;
        -webkit-backdrop-filter: blur(12.25px);
        backdrop-filter: blur(12.25px);
        margin: 10px 0
    }
    .Mobile-navbar>ul>a>li {
        margin-bottom: 20px;
        color: #01012c;
        font-weight: 500;
        font-size: 20px
    }
    .downloadbg {
        width: 90%;
        height: 90%
    }
    .cube-lottie {
        position: absolute;
        margin-top: 90%;
        width: auto;
        height: 35%;
        right: 0
    }
    .downloadbg {
        width: 90%;
        height: 90%;
        right: 0
    }
    .rm-flow {
        position: absolute;
        z-index: -1;
        right: 0;
        width: 40%;
        margin-top: 0
    }
    .ucbg {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        margin-top: 200px;
        background: radial-gradient(50% 50% at 50% 50%, #272fb05e, #0b071400);
        opacity: .7;
        transform: translate(-50%)
    }
    .htb-sphere {
        right: 0;
        margin-top: 350px
    }
    .rainbow-lottiepng {
        height: 10%
    }
    .tokenomics-logo {
        width: 100px;
        height: 100px
    }
    .tokenomics-step {
        width: 140px;
        height: 50px
    }
    #root {
        width: 100vw;
        overflow-x: hidden
    }
}

@media only screen and (min-width: 768px) {
    #root {
        overflow-x: hidden
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-heading {
        font-size: 56px;
        line-height: 1.2
    }
    .hero-heading {
        font-size: 65px
    }
    .wrapper {
        padding: 60px 6vw
    }
    .steps>.step {
        margin: 15px
    }
    .lines-container {
        position: absolute;
        width: 70%;
        left: 15%;
        text-align: center
    }
    .tokenomics-step {
        margin: 3px 0
    }
    .tokenomics-logo {
        width: 170px;
        height: 170px
    }
}

@media only screen and (width: 1024px) {
    .tokenomics-logo {
        width: 200px;
        height: 200px
    }
}

@media only screen and (width: 320px) {
    .tokenomics-logo {
        width: 70px;
        height: 70px
    }
}

@media only screen and (max-width: 425px) {
    .tokenomics-step>.tokenomics-numbering {
        width: 40px;
        height: 40px
    }
    .tk-content-heading {
        font-size: 9px;
        font-weight: 500
    }
    .tk-content-text {
        color: #bfbfbf;
        font-size: 12px;
        font-weight: 300
    }
    .tokenomics-steps {
        color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 20px 0%;
        align-items: center;
        justify-content: space-between
    }
    .tk-content-text {
        color: #bfbfbf;
        font-size: 9px;
        font-weight: 300
    }
    .tokenomics-numbering>img {
        width: auto;
        height: 14px
    }
    .tokenomics-step>.tokenomics-numbering {
        font-size: 0px
    }
    .tokenomics-step {
        padding: 0 8px
    }
    .tokenomics-content {
        padding-left: 6px
    }
    .tokenomics-steps {
        height: 200px
    }
}

.not-visible {
    visibility: hidden !important
}